
<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-toolbar color="primary">
      <ion-header>
        <ion-title>Menú de Informes </ion-title>
      </ion-header>
    </ion-toolbar>
    <ion-content class="ion-padding">
      <ion-button fill="clear" color="warning" (click)="abrirModalSubirArchivos()" >
        <ion-icon  name="add-circle-outline"></ion-icon>
        Subir Informes
      </ion-button>
      <br>
      <ion-button fill="clear" color="secondary" (click)="abrirModalMostrarArchivos()">
        <ion-icon name="eye-outline"></ion-icon>
        Mostrar Informes
      </ion-button>
      <br>
      <ion-button fill="clear" color="tertiary" (click)="redirigirTest()">
        <ion-icon name="reader-outline"></ion-icon>
        Realizar Test
      </ion-button>
    </ion-content>
  </ion-menu>
  <div class="main-content" id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar class="header-toolbar">
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons>
          <ion-back-button defaultHref="/hora-entrada-salida-estudiante" text="volver" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-icon name="document-outline" slot="start" class="icono"></ion-icon>
        <ion-title>Crear Informe de Estudiante</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content [fullscreen]="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Crear-Informe-Estudiante</ion-title>
        </ion-toolbar>
      </ion-header>
        <div class="apps-container">
          <ion-card *ngFor="let app of apps" class="app-card">
           <ion-card-header>
             <ion-card-title>
              <img [src]="app.icon" alt="Icono de la app" class="app-icon"/>
              {{app.name}}
             </ion-card-title>
           </ion-card-header>
           <ion-card-content>
            <div *ngIf="app.showChart">
               <canvas baseChart
                [data]="app.chartData"
                [type]="'doughnut'"
                [options]="chartOptions">
              </canvas>
              <div class="porcentaje">{{app.usage}}% de uso</div>
            </div>
            <ion-button size="small" [color]="app.color" (click)="openApp(app)"> Abrir {{app.name}}</ion-button>
           </ion-card-content>
          </ion-card>
        </div>
    </ion-content>
    
  </div>
</ion-app>








