ion-range {
  margin-bottom: 0.5rem;
}

.pregunta-evaluacion {
  margin-bottom: 1rem;
}

.botones-evaluacion {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: space-between;
}

canvas {
  margin-top: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.header-toolbar{
    --background:#1E3A5F;
    --color:#fffffff5;
}
.icono{
   font-size:60px;
}
