<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Mostrar Informes {{estudiante.Estudiante.Nombres_Apellidos}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
       
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <p>Informes de la estudiante:{{estudiante.Estudiante.Nombres_Apellidos}}</p>
    <img
     [src]="perfilImg || defaultImg"
      alt="icono de foto"
      class="icono-perfil"
    />
    <ion-list *ngIf="informes.length > 0; else noArchivos">
      <ion-item *ngFor="let informe of informes;let i = index" >
         <ion-label>
          <h2>{{informe.nombre}}</h2>
          <p>{{informe.tipo}}</p>
         </ion-label>
         <ion-button fill="clear" (click)="cambiarArchivos(i)">Cambiar el Archivo</ion-button>
          <ion-button color="danger" fill="clear" (click)="eliminarArchivo(i)">Eliminar</ion-button>
          <ion-button color="secondary" fill="clear" (click)="enviarCorreo(informe)">Enviar</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #noArchivos>
    <div class="mensaje">
      <p>No hay archivos almacenadoa aún.</p>
    </div>
  </ng-template>
</ion-content>