<ion-header>
  <ion-title>Estudiante de {{carrera}}</ion-title>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar
     [(ngModel)]="searchTerm"
     (ionInput)="filtrarEstudiantes()"
     placeholder="Buscar Estudiante por Nombre"
     showClearButton="always"
     animated="true"

    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="estudiantes.length > 0">
   
    <ion-item *ngFor="let estudiante of estudiantesFiltrados" (click)="verInforme(estudiante)">
      <img
      [src]="estudiante.imagen"
       alt="icono de foto"
       class="icono-perfil"
     />
     <ion-label>
     <h2 [innerHTML]="estudiante.nombreResaltado"></h2>
      <p>Carnet:{{estudiante.Carnet}}</p>
      <p>Telefono:{{estudiante.Telefono}}</p>
     </ion-label>
     <!--Notificación si hay un nuevo informe-->
     <ion-icon
      *ngIf="estudiante.tieneNotificacion"
      name="alert-circle-outline"
      color="danger"
      slot="start"
     ></ion-icon>
    </ion-item>
  </ion-list>
  <div class="mensaje-vacio" *ngIf="estudiantesFiltrados.length === 0">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <p>No se encuentra registrado el estudiante</p>
  </div>
</ion-content>
