// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --color-primary: #4a90e2;
    --color-secondary: #9013fe;
    --color-accent: #7d0ede;
    --color-background: #f4f4f4;
    --color-text: #333333;
    --Color-gradiems:#75252c;
  }