.error{
    color:red;
    font-size: 14px;
    margin-left: 10px;
}

ion-item{
    --border-radius:10px;
    --background:#f4f4f4;
}

ion-button{
    margin-top: 20px;
    --border-radius:8px;
    --background:#3880ff;
}
