<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Informes de {{estudiante}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let informe of informes">
      <ion-label>{{informe.informe}}</ion-label>
      <p>Fecha:{{informe.fecha | date:'medium'}}</p> 
      <p>Estado:<strong [style.color]="informe.leido ? 'green':'red'">{{informe.leido ? 'Leído':'No leído'}}</strong></p>
      <button size="small" fill="clear" (click)="descargarInforme(informe)">
        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>