.contenedor {
    text-align: center;
    padding: 20px;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  
  input[type="file"] {
    display: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    background: #f8f9fa;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
  }
  .ion-padding{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 20px;
}

  .header-toolbar {
    --background: #404249;
    --color: rgb(252, 243, 243);
  }
  .icono{
    font-size:60px;
 }