<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="volver" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-icon name="people-circle-outline" slot="start" class="icono"></ion-icon>
    <ion-title>Inicio de Sesión de la Institución</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login-institucion</ion-title>
    </ion-toolbar>
  </ion-header>
   <div class="login-container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>¡Bienvenido!</ion-card-title>
        <ion-card-subtitle>Accede con tu información</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <!-- Contenido del formulario de inicio de sesión -->
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label position="floating">Nombres y Apellidos</ion-label>
            <ion-input formControlName="Nombres_Apellidos" type="text"></ion-input>
          </ion-item>
          <p class="error" *ngIf="Nombres_Apellidos?.invalid && Nombres_Apellidos?.touched">
            Para iniciar sesión es necesario los nombres y los apellidos
          </p>
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input formControlName="Correo" type="email"></ion-input>
          </ion-item>
          <p class="error" *ngIf="Correo?.invalid && Correo?.touched">
            Para iniciar sesión es necesario el correo Electrónico
          </p>
          <ion-button color="secondary"  size="small" type="submit" [disabled]="registroForm.invalid">
            Iniciar Sesión Institución
          </ion-button>
         </form>
      </ion-card-content>
    </ion-card>
   </div>
   
</ion-content>
