

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
 

<!-- Contenido de la página -->
<ion-content >
  <div class="div_header">
    <!-- Tu contenido aquí -->
    <img class="img_logo" src="assets/img/Untitled_logo_5_free-file.jpg" alt="" />
    <ion-title> ¡Sistema de Monitoreo de Prácticas Profesionales! </ion-title>
      <ion-button size="small" class="transparent-button" (click)="mostrarInstructivo() ">
        <ion-icon slot="start" name="layers-outline"> </ion-icon>
        Instructivo
      </ion-button>
       <ion-button size="small" class="transparent-button" (click)="mostrarMapa() ">
        <ion-icon slot="start" name="locate-outline"> </ion-icon>
         Geocalización de rutas
      </ion-button>
  </div>
  <div class="div-form">
    <div class="item1">
      <ion-button size="small" color="primary" (click)="toggleDropdown('login')">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Iniciar Sesión
      </ion-button>
      <div *ngIf="showLogin" class="dropdown">
        <ion-button size="small" color="success" (click)="loginNavegacionCoordinador()">
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          Iniciar Sesión Coordinador
        </ion-button>
        <br />
        <ion-button size="small" color="primary" (click)="loginNavegacionEstudiante()">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          Iniciar Sesión Estudiante
        </ion-button>
        <br />
        <ion-button size="small" color="secondary" (click)="loginNavegacionInstitucion()">
          <ion-icon name="people-circle-outline" slot="start"></ion-icon>
          Iniciar Sesión Institución
        </ion-button>
      </div>
    </div>
    <div class="item2">
      <br />
  <!--Botón para registrarse-->
  <ion-button size="small" color="warning" (click)="toggleDropdown('register')">
    <ion-icon name="person-add-outline" slot="start"></ion-icon>
    Registrarse
  </ion-button>
  <!--Desplegable de registro-->
  <div *ngIf="showRegister" class="dropdown">
    <ion-button size="small" color="success" (click)="confirmarNavegacionCoordinador()">
      <ion-icon name="person-add-outline" slot="start"></ion-icon>
      Registrarse Coordinador
    </ion-button>
    <br />
    <ion-button size="small" color="primary" (click)="confirmarNavegacionEstudiantil()">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      Registrarse Estudiante
    </ion-button>
    <br />
    <ion-button size="small" color="secondary" (click)="confirmarNavegacionInstitucion()">
      <ion-icon name="people-circle-outline" slot="start"></ion-icon>
      Registrarse Institución
    </ion-button>
  </div>
    </div>
  </div>

     <app-chatbots></app-chatbots>

</ion-content>


  <!--Botón para iniciar sesión-->
  
<ion-footer>
  <ion-toolbar>
    <ion-title>¿Deseas saber más de nuestro Sistema de Monitoreo?</ion-title>
  </ion-toolbar>
</ion-footer>